// ******** START VARIABLES COLORS *********** //
$cherryRed: #f64b4b;
$midnightBlue: #161c2d;
$cloudWhite: #f4f7fa;
$foggyGray: #e7e9ec;
$royalBlue: #473bf0;
$pureWhite: #ffff;
$midnightBlack: #000000;
$mintGreen: #67d684;
$transparentWhite: #ffffff00;
// ******** END VARIABLES COLORS *********** //
