// ******** IMPORT VARIABLES COLORS *********** //
@use "../../utils/variables";

// ******* START HEADER ********** //
.header {
  background-image: url("../../../../../landing-page-1/assets/svg/background-1.svg") !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  background-color: variables.$cloudWhite;
  z-index: 1;

  @media screen and (max-width: 1200px) {
    height: 100%;
    padding-bottom: 100px;
  }

  &__navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 25px;
    margin: 0px auto;
    max-width: 1600px;
    width: 100%;
    gap: 100px;

    @media screen and (max-width: 1200px) {
      justify-content: space-between;
      gap: 0px;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 20px;
      padding-top: 20px;
      background: variables.$pureWhite;
      position: fixed;
      top: 0px;
      z-index: 3;
    }

    &__menu {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 60px;

      &__title {
        font-size: 22px;
        font-weight: bold;
        color: variables.$midnightBlue;

        @media screen and (max-width: 500px) {
          font-size: 15px;
        }
      }

      &__lists {
        list-style: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 40px;
        padding-top: 3px;
        z-index: 2;

        @media screen and (max-width: 1200px) {
          display: none;
          width: 70%;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          background-color: variables.$midnightBlack;
          height: 100%;
          position: fixed;
          right: 0px;
          top: 0px;
          padding: 25px 25px 0px 15px;
        }

        li {
          color: variables.$midnightBlue;
          font-weight: 600;
          font-size: 15px;
          cursor: pointer;

          @media screen and (max-width: 1200px) {
            font-size: 20px;
          }

          @media screen and (max-width: 600px) {
            font-size: 18px;
          }

          a {
            text-decoration: none;
            color: variables.$midnightBlue;

            @media screen and (max-width: 1200px) {
              color: variables.$pureWhite !important;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }

    &__btn {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: relative;

      #btn-1 {
        background-color: variables.$royalBlue;
        width: 200px;
        height: 50px;
        border-radius: 10px;
        border: none;
        color: variables.$pureWhite;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;

        @media screen and (max-width: 1200px) {
          display: none;
        }

        a {
          text-decoration: none;
          color: variables.$pureWhite;
        }
      }

      #btn-2 {
        display: none;
        border: none;
        background: none;

        @media screen and (max-width: 1200px) {
          display: block;
          z-index: 3;
        }

        img:nth-child(1) {
          display: block;
          width: 30px;
          height: 30px;
          top: 30px;

          @media screen and (max-width: 600px) {
            width: 30px;
            height: 30px;
          }

          @media screen and (max-width: 500px) {
            width: 23px;
            height: 23px;
          }
        }

        img:nth-child(2) {
          display: none;
          width: 30px;
          height: 30px;
          position: fixed;

          top: 25px;
          right: 21px;

          @media screen and (max-width: 600px) {
            width: 30px;
            height: 30px;
          }

          @media screen and (max-width: 500px) {
            width: 23px;
            height: 23px;
          }
        }
      }
    }
  }
}
// ******* END HEADER ********** //

// ******* START HERO ********** //
.container__hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  gap: 100px;
  z-index: 1;

  @media screen and (max-width: 1200px) {
    flex-direction: column;
    gap: 90px;
    margin-top: 70px;
  }

  @media screen and (max-width: 500px) {
    gap: 60px;
  }

  @media screen and (max-width: 375px) {
    gap: 0px;
  }

  &__content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;

    @media screen and (max-width: 1200px) {
      justify-content: center;
      align-items: center;
      padding-top: 40px;
    }

    span {
      color: variables.$cherryRed;
      font-size: 13px;
      font-weight: bold;
      text-transform: uppercase;
      padding-left: 5px;
    }

    h1 {
      font-size: 60px;
      font-weight: bold;
      color: variables.$midnightBlue;
      line-height: 65px;

      @media screen and (max-width: 1200px) {
        text-align: center;
        font-size: 35px;
        line-height: 50px;
      }

      @media screen and (max-width: 500px) {
        font-size: 25px;
        line-height: 35px;
      }
    }

    p {
      font-size: 19px;
      font-weight: 200;
      color: variables.$midnightBlue;
      line-height: 30px;

      @media screen and (max-width: 1200px) {
        text-align: center;
        font-size: 16px;
      }

      @media screen and (max-width: 375px) {
        font-size: 11px;
        line-height: 20px;
      }
    }

    button {
      background-color: variables.$royalBlue;
      width: 200px;
      height: 50px;
      border-radius: 10px;
      border: none;
      color: variables.$pureWhite;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;

      @media screen and (max-width: 500px) {
        height: 40px;
        width: 170px;
        font-size: 14px;
      }

      a {
        text-decoration: none;
        color: variables.$pureWhite;
      }
    }
  }
  &__picture {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    @media screen and (max-width: 1200px) {
      justify-content: center;
      align-items: center;
    }

    img {
      max-width: 463px;
      width: 100%;
      height: 463px;
      object-fit: contain;

      @media screen and (max-width: 450px) {
        width: 80%;
      }
    }
  }
}
// ******* END HERO ********** //
