// ******* START SECTION FACTS ********** //
.section__facts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-bottom: 100px;
  padding-top: 50px;
  z-index: 1;

  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }

  &__data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;

    h4 {
      color: #161c2d;
      font-weight: bold;
      text-align: center;
      font-size: 48px;

      @media screen and (max-width: 600px) {
        font-size: 30px;
      }
    }

    p {
      color: #161c2d;
      font-weight: 200;
      text-align: center;
      font-size: 19px;
      line-height: 30px;

      @media screen and (max-width: 600px) {
        font-size: 16px;
        line-height: 25px;
      }
    }
  }
}
// ******* END SECTION FACTS ********** //
